@use "../../styles/forward.scss" as *;

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(100vh / 3);

  svg {
    animation-duration: 1.5s;
    animation-name: slideUp;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    
  }

  svg:nth-child(2) {
    animation-delay: 0.25s; 
  }

  svg:nth-child(3) {
    animation-delay: 0.5s; 
  }

  & svg:last-child {
    margin-left: -9px;
    animation-delay: 0.75s; 
  }
}

@keyframes slideUp {
  0%, 20% { 
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: translateY(-20px);
    animation-timing-function: ease-in-out;
  }
  20%, 100% { 
    transform: translateY(0);
  }
}